*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.profile_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 25px;
    position: relative;
}
.profile_card::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 29%;
    border-radius: 24px 24px 0 0;
    background-color: #4070f4;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.img{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
}
.profile_img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 3px solid #fff;
}
.text_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}
.name{
    font-size: 25px;
    font-weight: 500px;
}
.jop{
    font-size: 15px;
    font-weight: 400;
}
.media_buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media_buttons a{
    background-color: #4070f4;
    margin: 0px 8px;
    text-decoration: none;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;

}
.buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
button{
    background-color: #4070f4;
    padding: 8px 24px;
    margin: 0px 10px;
    border-radius: 24px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease;
}
button:hover{
    background-color: #0e4bf1;
}
.analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0px 20px;
    border-right: 2px solid #e7e7e7;


}
.data:last-child{
    border: none;
}
.data i{
    font-size: 18px;
    margin-right: 6px;
}